{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
<div class="auction-container">
    
    {% if is_winner %}
        <h2>Congratulations!!Highest bidder - You are the winner!</h2>
        {%else%}
        <p>Lot sold for ${{ bid.amount }}.</p>
    {% endif %}
    <h1 class="auction-title">{{ auction.title }}</h1>
    <p class="auction-description">{{ auction.description }}</p>
    <p><b>Author:</b> {{ auction.user.username }}</p>
    <img src="{{ auction.imageurl }}" alt="{{ auction.title }}" class="auction-image"> 
    {% if user.is_authenticated %}
        <div class="bid-info">
            {% if bid %}
                <p><b>Starting Bid:</b> ${{ auction.startingbid}}</p>
                <p><b>Current Bid:</b> ${{ bid.amount }}</p>
            {% else %}
                <p><b>No bids yet</b></p>
            {% endif %}
            
            {% if auction.active %}
                <form method="post" action="{% url 'update_bid' auction.id %}">
                    {% csrf_token %}
                    <input type="number" min="{{ auction.current_price }}" step="1" max="999999999999" name="bid" required>
                    <button type="submit" class="btn">Bid</button>
                </form>
            {% else %}
                <p><b>Auction Closed</b></p>
            {% endif %}
        </div>
    {% endif %}   
    <div class="auction-details">
        <p><b>Starting Price:</b> 
         ${{ bid.amount }}(Your bid must be greater than this amount.)
        </p>
        <p><b>Created at:</b> {{ auction.creation_time|date:"F j, Y, g:i a" }}</p>
        {% if bid %}
            <p><b>Last Updated:</b> {{ bid.creation_time|date:"F j, Y, g:i a" }}</p>
        {% endif %}
        <p><b>Category:</b> {{ auction.category|default:"Not Listed" }}</p>
      
            {% if bid %}
                <p>{{ auction.bid_counter }} Bids so far</p>
            {% else %}
                <p>No bids yet.</p>
            {% endif %}

        {% if user == auction.user %}
            {% if auction.active %}
                <form method="post" action="{% url 'closing_bid' auction.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn">Close Bid</button>
                </form>
            {% else %}
                <p><b>Auction Closed</b></p>
            {% endif %}
        {% endif %}
   
        <h3 class="text-muted pt-3">Comments:</h3>
        {% for comment in comments %}
            <div class="card mb-3">
                <div class="card-header">
                    <p class="h5 text-muted">{{ comment.user }} - <span class="text-muted lead">{{ comment.created_at }}</span></p>
                </div>
                <div class="card-body">
                    <p class="card-text lead">{{ comment.text }}</p>
                </div>
            </div>
        {% empty %}
            <p class="display-4 pb-5 ml-3">No comments for this auction yet.</p>
        {% endfor %}
    </div>
    
    <hr> 
    <form action="{% url 'add_comment' auction.id %}" class="form-group" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-lg btn-outline-secondary" type="submit" value="Add comment">
    </form>
    <a href="{% url 'index' %}" class="btn">HOME</a>
</div>
{% endblock %}
