{% extends "auctions/layout.html" %}

{% block body %}
    <h1>{{ category }}</h1>
    
    
    <ul>
        {% for listing in listings %}
            <li>
                <img src="{{ listing.imageurl }}" style="width: 240px; height: 240px; object-fit: cover;">
                <p>{{ listing.title }}</p>
                {% if listing.latest_bid %}
                    <p><b>Current Bid:</b> ${{ listing.latest_bid.amount }}</p>
                {% else %}
                    <p><b>Starting Price:</b> ${{ listing.currentprice }}</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <div class="btn"><a href="{% url 'index' %}" class="btn">HOME</a></div>
{% endblock %}