
{% block body %}
    {% if auction.winner is not None %}
        {% if user == bid.user %}
            <h2> Highest bid - You are the winner!</h2>
        {% endif %}
    {% endif %}
    <div class="sidebar col-lg-2 col-md-3">
        <h1>{{ auction.title }}</h1>
        <p>{{ auction.description }}</p>
        <p><b>Author:</b> {{ auction.user.username }}</p>
        <img src="{{ auction.imageurl }}" alt="{{ auction.title }}" style="width: 240px; height: 240px; object-fit: cover;">
        {% if user.is_authenticated %}
            {% if bid %}
                <p><b>Starting Bid:</b> ${{ auction.startingbid }}</p> 
                <p><b>Current Bid:</b> ${{ bid.amount }}</p> 
            {% else %}
                <p><b>No bids yet</b></p>
            {% endif %}
            {% if auction.id %}
                <form method="post" action="{% url 'update_bid' id=auction.id %}">
                    {% csrf_token %}
                    <input type="number" min="{{ auction.amount }}" step="1" max="999999999999" name="bid" required>
                    <button type="submit">Bid</button>   
                </form>
            {% endif %}
        {% endif %}
    </div>
    <div class="main col-lg-10 col-md-9">
        <p><b>Starting Price:</b> 
            {% if auction.currentprice %}
                ${{ auction.currentprice }}
            {% else %}
                Not Specified
            {% endif %}
        </p>
        <p><b>Created at:</b> {{ auction.creation_time|date:"F j, Y, g:i a" }}</p>
        {% if bid %}
            <p><b>Last Updated:</b> {{ bid.creation_time|date:"F j, Y, g:i a" }}</p>
        {% endif %}
        {% if auction.category %}
            <p><b>Category:</b> {{ auction.category|title }}</p>
        {% else %}
            <p><b>Category:</b> Not Listed</p>
        {% endif %}
        {% if user.is_authenticated %}
            {% if auction.winner is None %}
                {% if bid %}
                    <p>{{ auction.bid_counter }} Bid(s) so far. Your bid is the current bid.</p>
                {% else %}
                    <p>No bids yet.</p>
                {% endif %}
            {% else %}
                {% if bid.user == user %}
                    <p>Congratulations, you've won with a bid of ${{ bid.amount }}!</p>
                {% else %}
                    <p>Lot sold for ${{ bid.amount }}.</p>
                {% endif %}
            {% endif %}
            {% if user == auction.user %}
                <form method="post" action=""> 
                    {% csrf_token %}
                    <button type="submit">Close Bid</button>
                </form>
            {% endif %}
            
            <h3 class="text-muted pt-3">Comments:</h3>
            <form action="{% url 'add_comment' id=auction.id %}" class="form-group" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-lg btn-outline-secondary" type="submit" value="Add comment">
            </form>
            <hr> 
            {% if comments %}
                {% for comment in comments %}
                    <div class="card mb-3">
                        <div class="card-header">
                            <p class="h5 text-muted">{{ comment.user }} - <span class="text-muted lead">{{ comment.created_at }}</span></p>
                        </div>
                        <div class="card-body">
                            <p class="card-text lead">{{ comment.text }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="display-4 pb-5 ml-3">No comments for this auction yet.</p> 
            {% endif %}
        {% endif %}
    </div>
{% endblock %}